<div class="jumbotron">
  <div class="container">
    <img src="http://i.imgur.com/q4TFYUj.jpg" /></img>
    <h1>Oops...</h1>
    <p><a class="btn btn-primary btn-lg" href="/robots" role="button">Go Back to My Robot World!</a></p>
  </div>
</div>
